.header {
    height: 92px;
    display: flex;
    align-items: center;
    border-bottom: solid 2px #D1D1D1;
    justify-content: space-between;
}

.header-logo {
    width: 152px;
    height: auto;
    margin-left: 20px;
}

.logolink {
    display: flex;
}

.link {
    display: flex;
    gap: 40px;
    margin-left: 20px;
    color: black;
    font-size: 18px;
}

.user {
    display: flex;
    margin-right: 20px;
    gap: 30px;
}

.user .login {
    color:white;
    width: 74px;
    height: 46px;
    font-size: 20px;
    background-color: #2855CF;
    border: solid 2px #2855CF;
    border-radius: 10px;
}

.user .join {
    color: #2855CF;
    width: 92px;
    height: 46px;
    font-size: 20px;
    border: solid 2px #2855CF;
    border-radius: 10px;
}

button:hover {
  cursor: pointer;
}