.header {
  height: 92px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px #d1d1d1;
  justify-content: space-between;
}

.header-logo {
  width: 152px;
  height: auto;
  margin-left: 20px;
}

.logolink {
  display: flex;
  align-items: center; /* Vertically align items */
  height: 100%;
}

.link-container {
  display: flex;
  gap: 40px;
  margin-left: 40px;
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  color: black;
  font-size: 18px;
  position: relative; /* Needed for the pseudo-element */
  text-decoration: none;
}

.hoverable-link::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Position it to overlap the header's border */
  left: 0;
  width: 100%;
  height: 2px; /* Same height as the header border */
  background-color: #3b5bdb; /* Blue color */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.hoverable-link:hover::after,
.hoverable-link.active::after {
  transform: scaleX(1);
}

.user {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-right: 20px;
  gap: 30px;
}

.user .login {
  color: white;
  width: auto;
  height: 46px;
  padding: 0px 20px;
  font-size: 15px;
  background-color: #3b5bdb;
  border: solid 2px #3b5bdb;
  border-radius: 10px;
}

.user .join {
  color: #3b5bdb;
  width: auto;
  height: 46px;
  padding: 0px 20px;
  font-size: 15px;
  border: solid 2px #3b5bdb;
  border-radius: 10px;
  background-color: #ffffff;
}

button:hover {
  cursor: pointer;
}

.profile-container {
  position: relative;
}

.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #ccc; /* Adjusted border color */
  transition: transform 0.2s, box-shadow 0.2s;
}

.profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjusted shadow */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
