<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portflux.backend.mapper.CompanyUserMapper">

    <insert id="insertCompanyUser" parameterType="com.portflux.backend.beans.CompanyRegisterBean">
        INSERT INTO COMPANY (
            company_id, company_password, company_name, 
            company_phone, company_email, drawn_company, 
            company_create_at, business_number
        ) VALUES (
            #{userId}, #{password}, #{nickname},  #{phoneNumber}, #{email}, 'N', 
            SYSDATE, #{businessNumber}
        )
    </insert>

    <select id="checkBusinessNumber" parameterType="String" resultType="int">
        SELECT COUNT(*) 
        FROM COMPANY 
        WHERE business_number = #{businessNumber}
    </select>

    <select id="findCompanyByEmail" parameterType="String" resultType="com.portflux.backend.beans.CompanyUserBean">
        SELECT 
            company_num AS companyNum,
            company_id AS companyId,
            business_number AS businessNumber,
            company_password AS companyPassword,
            company_name AS companyName,
            company_phone AS companyPhone,
            company_email AS companyEmail,
            drawn_company AS drawnCompany,
            company_create_at AS companyCreateAt
        FROM COMPANY
        WHERE company_email = #{email}
    </select>

    <select id="existsByCompanyName" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM COMPANY
        WHERE lower(company_name) = lower(#{name})
    </select>

    <select id="checkCompanyIdDuplicate" parameterType="String" resultType="int">
        SELECT COUNT(*) 
        FROM COMPANY 
        WHERE company_id = #{companyId}
    </select>

    <select id="checkCompanyEmailDuplicate" parameterType="String" resultType="int">
        SELECT COUNT(*) 
        FROM COMPANY 
        WHERE company_email = #{email}
    </select>

    <select id="getCompanyUserInfo" parameterType="String" resultType="com.portflux.backend.beans.CompanyUserBean">
        SELECT
            company_num AS companyNum,
            company_id AS companyId,
            business_number AS businessNumber,
            company_password AS companyPassword,
            company_name AS companyName,
            company_phone AS companyPhone,
            company_email AS companyEmail,
            drawn_company AS drawnCompany,
            company_create_at AS companyCreateAt
        FROM COMPANY
        WHERE company_id = #{companyId}
    </select>

    <select id="findByCompanyNameAndEmail" resultType="com.portflux.backend.beans.CompanyUserBean">
        SELECT
            company_num AS companyNum,
            company_id AS companyId,
            business_number AS businessNumber,
            company_password AS companyPassword,
            company_name AS companyName,
            company_phone AS companyPhone,
            company_email AS companyEmail,
            drawn_company AS drawnCompany,
            company_create_at AS companyCreateAt
        FROM COMPANY
        WHERE company_name = #{companyName} AND company_email = #{email}
    </select>

    <update id="updateCompanyPassword">
        UPDATE COMPANY
        SET company_password = #{newPassword}
        WHERE company_id = #{companyId}
    </update>

    <select id="getCompanyUserByNum" resultType="com.portflux.backend.beans.CompanyUserBean">
        SELECT
            company_num AS companyNum,
            company_id AS companyId,
            business_number AS businessNumber,
            company_password AS companyPassword,
            company_name AS companyName,
            company_phone AS companyPhone,
            company_email AS companyEmail,
            drawn_company AS drawnCompany,
            company_create_at AS companyCreateAt
        FROM COMPANY
        WHERE company_num = #{companyNum}
    </select>

    <update id="updateCompanyInfo">
        UPDATE COMPANY
        SET
            company_name = #{companyName},
            company_phone = #{companyPhone}
            <if test="updateImage == true">
                , company_image = #{companyImage, jdbcType=BLOB}
            </if>
            <if test="updateBanner == true">
                , company_banner = #{companyBanner, jdbcType=BLOB}
            </if>
        WHERE company_id = #{companyId}
    </update>

</mapper>