<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portflux.backend.mapper.CompanyUserMapper">

    <insert id="insertCompanyUser" parameterType="com.portflux.backend.beans.CompanyRegisterBean">
        INSERT INTO COMPANY (
            company_id, 
            company_password, 
            company_name, 
            company_phone, 
            company_email, 
            drawn_company, 
            company_create_at, 
            business_number
        ) VALUES (
            #{email},           #{password}, 
            #{name},            #{phoneNumber}, 
            #{email}, 
            'N', 
            SYSDATE, 
            #{businessNumber}   )
    </insert>

    <select id="checkBusinessNumber" parameterType="String" resultType="int">
        SELECT COUNT(*) 
        FROM COMPANY 
        WHERE business_number = #{businessNumber}
    </select>

    <select id="findCompanyByEmail" parameterType="String" resultType="com.portflux.backend.beans.CompanyUserBean">
        SELECT 
            company_num AS companyNum,
            company_id AS companyId,
            business_number AS businessNumber,
            company_password AS companyPassword,
            company_name AS companyName,
            company_phone AS companyPhone,
            company_email AS companyEmail,
            drawn_company AS drawnCompany,
            company_create_at AS companyCreateAt
        FROM COMPANY
        WHERE company_email = #{email}
    </select>

</mapper>