.info-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Ensure it takes full viewport height */
    text-align: center; /* Center text within the column */
}

.info-404 h1 {
    font-family: "BigCaslonBlack";
    font-size: 50px;
}