/* 전역 CSS 리셋 */
@font-face {
  font-family: "BigCaslonBlack";
  src: url("./assets/fonts/Big-Caslon-Black.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
}

ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
